# Mi primer ejemplo!!! real ...
By Alex A.

Esto fue un fiasco ... jajaja ntc, venía en un encode ANSI!!! con acentos qpm

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3
def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_79a5e0e1912648b29b2e33bbc86945f0 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='00b6VBtXQz_k4vBc3yfb-hGgSoZp9gIQFf6leNLV-k9C',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_79a5e0e1912648b29b2e33bbc86945f0.get_object(Bucket='courseraexercises-donotdelete-pr-inmwfwfxo8af8e',Key='200618COVID19MEXICO.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )
df_data_1 = pd.read_csv(body, encoding = 'utf-8')
df_data_1.head()

Mi segundo intento, (bueno antes quise modificar el ENCODE pero no supe!)

In [12]:
# The code was removed by Watson Studio for sharing.

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-06-18,1ccc07,2,3,15,1,15,15,20,1,...,2,2,2,2,1,1,99,México,99,97
1,2020-06-18,17a525,2,3,27,2,27,27,4,2,...,2,2,1,2,99,1,99,México,99,2
2,2020-06-18,0c43e9,2,3,27,2,27,27,2,1,...,2,2,2,2,2,1,99,México,99,97
3,2020-06-18,148214,2,4,2,2,2,2,4,2,...,1,2,2,2,99,1,99,México,99,2
4,2020-06-18,001423,2,4,9,2,9,9,2,2,...,2,2,2,2,99,1,99,México,99,2

Fin de mi prinmer prueba y ahora a publicarlo a GITHUB!!!